In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install openai
!pip install langchain
!pip install xgboost

In [ ]:
import openai
import os
import pandas as pd
import numpy as np

from langchain.prompts.few_shot import FewShotPromptTemplate
from langchain.prompts.prompt import PromptTemplate
from langchain.chains import LLMChain
from langchain.agents import create_pandas_dataframe_agent
from langchain.llms import OpenAI
from langchain.chat_models import ChatOpenAI
from sklearn.model_selection import train_test_split
import matplotlib

matplotlib.rcParams['font.family'] ='Malgun Gothic'

matplotlib.rcParams['axes.unicode_minus'] =False

# Few-Shot Learning

In [ ]:
# OpenAI API 키 설정
api_key = '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'  # 본인의 API 키로 바꿔주세요
# OpenAI API 클라이언트 초기화
openai.api_key = api_key

os.environ['OPENAI_API_KEY'] = api_key

In [ ]:
code_examples = [

    {"question": "Please provide a Python code without line breaks, spaces, and comments for performing classification using Random Forest.",
    "answer": """from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
X = data.data
y = data.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
    """
    },
    {"question": "Please provide Python code without line breaks, spaces, and comments for performing classification using a logistic regression model.",
    "answer": """from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
    """
    }

]

In [ ]:
code_example_prompt = PromptTemplate(template = "My Question: {question}\nAI Answer: {answer}",
                               input_variables = ["question", "answer"])



# print(code_example_prompt.format(**code_examples[0]))

In [ ]:
few_shot_code_prompt = FewShotPromptTemplate(
    examples=code_examples,
    example_prompt=code_example_prompt,
    suffix="Question: {input}",
    input_variables=["input"]
)

# print(few_shot_code_prompt.format(input="Please provide a Python code for performing classification using XGBoost."))

In [ ]:
llm = OpenAI(temperature=0, max_tokens=256, model_name = "gpt-3.5-turbo")

/usr/local/lib/python3.10/dist-packages/langchain/llms/openai.py:202: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/langchain/llms/openai.py:790: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(

# Data load

In [ ]:
user_spec = pd.read_csv('/content/drive/MyDrive/2023BigCon/user_spec.csv')
loan_result = pd.read_csv('/content/drive/MyDrive/2023BigCon/loan_result.csv')
# user_spec.isnull().sum()

# Data Processing

---
## loan_result processing
- 형 변환 수행
- 결측치 처리 수행

In [ ]:
code_chain = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
Given data loan_result,please provide code to process these requests in order with loan_result.

Answer with code, no comments
1. Please Delete rows where column 'loan_limit' value is null.
2. Convert the 'loanapply_insert_time' column to datetime format
3. Delete rows where column 'bank_id' value is 16 .

Answer with code, no comments
"""
code_response = code_chain.run(question)
# print(code_response)

In [ ]:
code_chain2 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:

1. Remove 'gender'column.
2. Convert the 'insert_time' column to datetime format.
3. Convert the 'company_enter_month' column to string format.
4. Take the first six characters and append '01' to rows where 'company_enter_month' value is not missing .
    Do not append '01' if the  'company_enter_month' value is missing.
    If there are rows where company_enter_month value is 'nan01', convert the values 'nan01' to Nan.
    Finally convert company_enter_month column to datetime data type.

Do not include comments.

"""
question = question.strip('\n')

code_response2 = code_chain2.run(question)
# print(code_response2)

---
## user_spec processing

### 'company_enter_month', 'birth_year' 결측치 처리

In [ ]:
code_chain3 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

1.Replace missing values in the 'company_enter_month' column with values by same 'user_id'.
 Fill in missing values in a DataFrame column named 'company_enter_month' by using a dictionary that maps user IDs to their respective company entry months.
 Check each row in the DataFrame, and if the 'company_enter_month' is missing (NaN),then
 Replace it with the entry month associated with the user ID from the dictionary.
 If no entry exists for the user ID, remain as NaN.
2.In the same way ,Replace missing values 'birth_year' column with values by same 'user_id'.

Answer only with code, no comments
'''
code_response3 = code_chain3.run(question)
# print(code_response3)

---
### 파생변수 생성
- employment_period
- age
- rehabilitation

In [ ]:
code_chain4 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

1. Create two new variables:
    'employment_period': Represents the number of days an individual has been employed.
                        Calculate by taking the difference between the 'insert_time'and 'company_enter_month'. Extract the number of days using .dt.days.
                        If there's negative values,replace negative values with NaN (missing values)
    'age': Represents the age of individuals. Calculate by subtracting their 'birth_year' from the year component of 'insert_time', which gives us their age in years.
2. Remove column 'company_enter_month', 'birth_year'
3. Include only individuals who are 19 years old or older or Nan values.

Answer only with code, no comments
'''
code_response4 = code_chain4.run(question)
# print(code_response4)

In [ ]:
code_chain5 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

1.amt_idx = np.where(user_spec.columns == 'existing_loan_amt')[0][0]
  cnt_idx = np.where(user_spec.columns == 'existing_loan_cnt')[0][0]
  Find the indices where both 'existing_loan_cnt' and 'existing_loan_amt' are NaN and save index to 'nan_idx'.
  Replace the values to 0 for user_spec.iloc[nan_idx, amt_idx]
  Replace the values to 0 for user_spec.iloc[nan_idx, cnt_idx]

2. Remove rows where 'income_type' is NaN.
3.Impute missing values in 'yearly_income' with the mean from the same 'user_id'.
Answer only with code, no comments
'''
code_response5 = code_chain5.run(question)
# print(code_response5)

In [ ]:
code_chain6 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

Set 'rehabilitation' values as follows:
- If 'personal_rehabilitation_yn' is 1 and 'personal_rehabilitation_complete_yn' is 0, set 'rehabilitation' to "Ongoing."
- If 'personal_rehabilitation_yn' is 1 and 'personal_rehabilitation_complete_yn' is 1, set 'rehabilitation' to "Completed."
- If 'personal_rehabilitation_yn' is 0, set 'rehabilitation' to "Not Applicable."
- If both 'personal_rehabilitation_yn' and 'personal_rehabilitation_complete_yn' are missing (NaN), set 'rehabilitation' to "Unknown."
 '''
code_response6 = code_chain6.run(question)
# print(code_response6)

---
### 'credit_score' 결측치 처리
- XGBRegressor

In [ ]:
code_chain7 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

1.Remove column 'personal_rehabilitation_yn' and 'personal_rehabilitation_complete_yn'.
2.Convert column 'rehabilitation' into categorical format.
3. Fill missing values in column 'credit_score'
 Create 'unique_credit_scores' column. Count the number of unique credit scores per user_id and store this value in unique_credit_scores.
 For rows where 'credit_score' is missing and 'unique_credit_scores' is 1, replace 'credit_score' with the value from that single unique credit score in the group.
 For rows where 'credit_score' is missing and 'unique_credit_scores' is greater than 1, replace 'credit_score' with the mean value of credit scores within that user group.

 '''
code_response7 = code_chain7.run(question)
# print(code_response7)

In [ ]:
code_chain8 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

1. Drop column 'unique_credit_scores'
2. Convert 'income_type','houseown_type','employment_type','purpose','rehabilitation' columns to categorical data types
3. Please Delete rows where column 'yearly_income' value is null.

 '''
code_response8 = code_chain8.run(question)
# print(code_response8)

In [ ]:
code_chain9 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = '''
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:
Please provide a Python code without line breaks, spaces, and comments.

Fill Missing 'credit_score' Using Train-Test Split and XGBoost Regression
The process involves splitting the data into training (with non-null 'credit_score') and testing (with missing 'credit_score') sets.
Then use an XGBoost Regressor model to predict the missing 'credit_score' values based on other relevant features.

1. Split the data into 'train' and 'test' sets based on the presence of 'credit_score' values and define feature sets ('train_X' and 'test_X') and target variables ('train_y' and 'test_y') for the model.
Use columns 'yearly_income','employment_type','houseown_type','existing_loan_cnt','existing_loan_amt','rehabilitation','age' and 'credit_score'
3. Create an XGBoost Regressor model ('xgb_re_model') with specific configurations,enable_categorical=True, tree_method='hist'.
4. Train the model on the 'train' set.
5. Use the trained model to predict missing 'credit_score' values in the 'test' set and storing the predictions in 'y_pred'.
6. Assign the predicted 'credit_score' values to the 'test' copy set(test_copy).
7. Concatenate the 'train' and 'test_copy' sets to update the 'user_spec' DataFrame with the imputed 'credit_score' values.
'''
code_response9 = code_chain9.run(question)
# print(code_response9)

---
### 'age' 결측치 처리
- XGBClassifier

In [ ]:
code_chain10 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframe is user_spec, please provide a Python code without line breaks, spaces, and comments:

Convert the 'age' variable into increments of 10 from the teens to the nineties to create a user-defined function, and create a new variable called 'cluster_age'(range of variable starts from 0) excluding the upper bound of the range.

And then, Set the category variable 'cluster_age' value to '9', If the 'age' value is missing.
Convert the 'cluster_age, income_type, employment_type, houseown_type, purpose, rehabilitation' column to a categorical data type.
"""
code_response10 = code_chain10.run(question)
# print(code_response10)

In [ ]:
code_chain11 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframe is user_spec which is already loaded, please provide a Python code without line breaks, spaces, and comments:

Using the enable_categorical=True 'XGBClassifier' histogram-based training method with GPU from the 'XGBoost' package, use the data where 'age' is not missing, excluding the 'age', 'user_id','application_id', 'insert_time' variables as the training data, and use the data where 'age' is missing, with the 'age', 'application_id', 'user_id', 'insert_time','cluster_age' variables removed, as the test data to predict 'cluster_age' in the test data.
do not use 'train_test_split'.


Apply the predicted values to the 'cluster_age' variable in the original data frame.
Do not include comments.

"""
question = question.strip('\n')

code_response11 = code_chain11.run(question)
# print(code_response11)

In [ ]:
code_chain12 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframe is user_spec, please provide a Python code without line breaks, spaces, and comments:

Convert the 'cluster_age' column to a int data type.
Update the age column with the value of 20 + 10*cluster_age for the rows with missing age values.
Remove the 'cluster_age' column from the dataset named user_spec.
"""
code_response12 = code_chain12.run(question)
# print(code_response12)

---
###'existing_loan_amt', 'employment_period' 결측 처리
- MICE

In [ ]:
# user_spec = pd.read_csv('/content/drive/MyDrive/user_spec_result_age.csv', index_col=0)
# user_spec.info()

In [ ]:
code_chain13 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframe is user_spec, please provide a Python code without line breaks, spaces, and comments:

Follow the instructions in the following order to implement multiple imputation using ExtraTreesRegressor and IterativeImputer.
Exclude the variables 'age', 'application_id', 'user_id', 'insert_time', 'income_type', 'employment_type', 'houseown_type', 'purpose', 'rehabilitation'.
Fit an IterativeImputer with ExtraTreesRegressor to the data with the desired columns removed. Perform a maximum of 10 iterations with a convergence tolerance set at 0.1, excluding complete columns from the replacement process, and do not use 'fit_transform'.
Transform on the data with only the desired columns removed and Do not drop duplicates. Then, save it as 'result'.
"""

question = question.strip('\n')

code_response13 = code_chain13.run(question)
# print(code_response13)

In [ ]:
code_chain14 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
Please provide a Python code without line breaks, spaces, and comments:

Create a DataFrame using the data already stored in 'result', with the column names 'credit_score', 'yearly_income', 'desired_amount', 'existing_loan_cnt', 'existing_loan_amt', 'employment_period'.
Replace the 'existing_loan_amt' and 'employment_period' columns in 'user_spec' with the values from the created DataFrame.
"""
question = question.strip('\n')

code_response14 = code_chain14.run(question)
# print(code_response14)

---
### Bank_id clustering

In [ ]:
code_chain15 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The dataframes are 'user_spec' and 'loan_result' which are already loaded, please provide a Python code without line breaks, spaces, and comments:

Replace the values of 'purpose', which are 'LIVING', 'ETC', 'HOUSEDEPOSIT', 'BUYHOUSE', 'BUYCAR', 'INVEST', 'BUSINESS', 'SWITCHLOAN', with '생활비', '기타', '전월세보증금', '주택구입', '자동차구입', '투자', '사업자금', '대환대출' respectively.
Merge the two dataframes based on 'application_id' to create a new dataframe called 'user_loan,' and retain only those rows where 'loan_limit' is not missing.
Perform k-means clustering using only 'loan_limit' and 'loan_rate' as features. Set the initial number of clusters to 5, the number of initial centroid attempts to 10, and use random initialization.
Create a new column 'bank_cluster' to store the clustering predictions. Then remove 'bank_id', and 'product_id' from user_loan.

"""
question = question.strip('\n')

code_response15 = code_chain15.run(question)
# print(code_response15)

---
### 파생변수 생성
- 'loan_limit_per'
- 'loan_rate_per'

In [ ]:
code_chain16 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The given dataframe is 'user_loan'(you do not have to road the dataframes), please provide a Python code without line breaks, spaces, and comments:

Calculate the minimum value of loan_rate for each application_id and create a new variable called loan_rate_min with application_id as its identifier, and create a new variable loan_rate_per by dividing loan_rate_min by (loan_rate + 0.0000001).
Calculate the maximum value of loan_limit for each application_id and create a new variable called loan_limit_max with application_id as its identifier, and create a new variable loan_limit_per by dividing loan_limit by (loan_limit_max + 0.0000001).
Remove 'loan_rate_min', 'loan_limit_max' columns from the dataset.

"""
question = question.strip('\n')

code_response16 = code_chain16.run(question)
# print(code_response16)

---
## Data split

In [ ]:
code_chain17 = LLMChain(llm=llm, prompt=few_shot_code_prompt)

question = """
The given dataframe is 'user_loan'(you do not have to road the dataframes), please provide a Python code without line breaks, spaces, and comments:

Change the loanapply_insert_time variable to a datetime variable.
Create a variable 'month' from the month of 'loanapply_insert_time'.
Refer to the values of the 'month' variable. If it is June, designate it as the test data.
"For the remaining data, use the 'month' variable as a reference and split it into train and validation data in an 80:20 ratio while maintaining the proportions of months 3, 4, and 5. In the end, you will have train_data, valid_data, and test_data.
"""
question = question.strip('\n')

code_response17 = code_chain17.run(question)
# print(code_response17)

In [ ]:
try:
    final_answer = "\n".join([code_response, code_response2, code_response3, code_response5, code_response6, code_response7, code_response8, code_response9, code_response10, code_response11, code_response12, code_response13
                              , code_response14, code_response15, code_response16, code_response17])
    exec(final_answer)
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# train_data.to_pickle('/content/drive/MyDrive/2023BigCon/2023Data/train_data_final.pkl')
# valid_data.to_pickle('/content/drive/MyDrive/2023BigCon/2023Data/valid_data_final.pkl')
# test_data.to_pickle('/content/drive/MyDrive/2023BigCon/2023Data/test_data_final.pkl')

# 최종 Data Processing 분석서

In [ ]:
def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0,
    )
    return response.choices[0].message["content"]

In [ ]:
final_answer = "\n".join([code_response, code_response2, code_response3, code_response5, code_response6, code_response7, code_response8, code_response9, code_response10, code_response11, code_response12, code_response13
                          , code_response14, code_response15, code_response16, code_response17])
print(final_answer)

import pandas as pd

# 1. Delete rows where column 'loan_limit' value is null
loan_result = loan_result.dropna(subset=['loan_limit'])

# 2. Convert the 'loanapply_insert_time' column to datetime format
loan_result['loanapply_insert_time'] = pd.to_datetime(loan_result['loanapply_insert_time'])

# 3. Delete rows where column 'bank_id' value is 16
loan_result = loan_result[loan_result['bank_id'] != 16]
import pandas as pd
user_spec.drop('gender', axis=1, inplace=True)
user_spec['insert_time'] = pd.to_datetime(user_spec['insert_time'])
user_spec['company_enter_month'] = user_spec['company_enter_month'].astype(str)
user_spec['company_enter_month'] = user_spec['company_enter_month'].apply(lambda x: x[:6] + '01' if x != 'nan' else x)
user_spec['company_enter_month'] = user_spec['company_enter_month'].replace('nan01', pd.NaT)
user_spec['company_enter_month'] = pd.to_datetime(user_spec['company_enter_month'])
user_spec['company_enter_month'] = user_spec['company_enter_month'].fillna(user_spec['user_id'].map(user_spec.groupby('user_id')['company_enter_month'].first()))
user_spec['birth_year'] = user_spec['birth_year'].fillna(user_spec['user_id'].map(user_spec.groupby('user_id')['birth_year'].first()))
1. amt_idx=np.where(user_spec.columns=='existing_loan_amt')[0][0];cnt_idx=np.where(user_spec.columns=='existing_loan_cnt')[0][0];nan_idx=np.where((user_spec['existing_loan_cnt'].isnull()) & (user_spec['existing_loan_amt'].isnull()))[0];user_spec.iloc[nan_idx,amt_idx]=0;user_spec.iloc[nan_idx,cnt_idx]=0
2. user_spec = user_spec.dropna(subset=['income_type'])
3. user_spec['yearly_income'] = user_spec.groupby('user_id')['yearly_income'].transform(lambda x: x.fillna(x.mean()))
user_spec['rehabilitation'] = np.where((user_spec['personal_rehabilitation_yn'] == 1) & (user_spec['personal_rehabilitation_complete_yn'] == 0), "Ongoing",
                                        np.where((user_spec['personal_rehabilitation_yn'] == 1) & (user_spec['personal_rehabilitation_complete_yn'] == 1), "Completed",
                                                 np.where(user_spec['personal_rehabilitation_yn'] == 0, "Not Applicable",
                                                          np.where(pd.isnull(user_spec['personal_rehabilitation_yn']) & pd.isnull(user_spec['personal_rehabilitation_complete_yn']), "Unknown", ""))))
import pandas as pd
user_spec.drop(['personal_rehabilitation_yn', 'personal_rehabilitation_complete_yn'], axis=1, inplace=True)
user_spec['rehabilitation'] = user_spec['rehabilitation'].astype('category')
user_spec['credit_score'].fillna(user_spec.groupby('user_id')['credit_score'].transform('mean'), inplace=True)
user_spec['unique_credit_scores'] = user_spec.groupby('user_id')['credit_score'].transform('nunique')
user_spec.loc[user_spec['credit_score'].isnull() & (user_spec['unique_credit_scores'] == 1), 'credit_score'] = user_spec.groupby('user_id')['credit_score'].transform('first')
user_spec.loc[user_spec['credit_score'].isnull() & (user_spec['unique_credit_scores'] > 1), 'credit_score'] = user_spec.groupby('user_id')['credit_score'].transform('mean')
import pandas as pd
user_spec.drop('unique_credit_scores', axis=1, inplace=True)
user_spec['income_type'] = user_spec['income_type'].astype('category')
user_spec['houseown_type'] = user_spec['houseown_type'].astype('category')
user_spec['employment_type'] = user_spec['employment_type'].astype('category')
user_spec['purpose'] = user_spec['purpose'].astype('category')
user_spec['rehabilitation'] = user_spec['rehabilitation'].astype('category')
user_spec.dropna(subset=['yearly_income'], inplace=True)
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor

train = user_spec[user_spec['credit_score'].notnull()]
test = user_spec[user_spec['credit_score'].isnull()]

train_X = train[['yearly_income', 'employment_type', 'houseown_type', 'existing_loan_cnt', 'existing_loan_amt', 'rehabilitation', 'age', 'credit_score']]
train_y = train['credit_score']

test_X = test[['yearly_income', 'employment_type', 'houseown_type', 'existing_loan_cnt', 'existing_loan_amt', 'rehabilitation', 'age', 'credit_score']]

xgb_re_model = XGBRegressor(enable_categorical=True, tree_method='hist')
xgb_re_model.fit(train_X, train_y)

y_pred = xgb_re_model.predict(test_X)

test_copy = test.copy()
test_copy['credit_score'] = y_pred

user_spec = pd.concat([train, test_copy])
import pandas as pd
def convert_age(age):
    if age < 20:
        return 0
    elif age < 30:
        return 1
    elif age < 40:
        return 2
    elif age < 50:
        return 3
    elif age < 60:
        return 4
    elif age < 70:
        return 5
    elif age < 80:
        return 6
    elif age < 90:
        return 7
    else:
        return 8

user_spec['cluster_age'] = user_spec['age'].apply(convert_age)
user_spec['cluster_age'].fillna(9, inplace=True)
user_spec['cluster_age'] = user_spec['cluster_age'].astype('category')
user_spec['income_type'] = user_spec['income_type'].astype('category')
user_spec['employment_type'] = user_spec['employment_type'].astype('category')
user_spec['houseown_type'] = user_spec['houseown_type'].astype('category')
user_spec['purpose'] = user_spec['purpose'].astype('category')
user_spec['rehabilitation'] = user_spec['rehabilitation'].astype('category')
import pandas as pd
import xgboost as xgb

# Training data
train_data = user_spec[user_spec['age'].notnull()].drop(['age', 'user_id', 'application_id', 'insert_time'], axis=1)
train_labels = train_data['cluster_age']
train_data = train_data.drop('cluster_age', axis=1)

# Test data
test_data = user_spec[user_spec['age'].isnull()].drop(['age', 'application_id', 'user_id', 'insert_time', 'cluster_age'], axis=1)

# XGBoost classifier
xgb_classifier = xgb.XGBClassifier(enable_categorical=True, tree_method='gpu_hist')

# Training
xgb_classifier.fit(train_data, train_labels)

# Prediction
test_data['cluster_age'] = xgb_classifier.predict(test_data)

# Apply predicted values to original dataframe
user_spec.loc[user_spec['age'].isnull(), 'cluster_age'] = test_data['cluster_age']
import pandas as pd
user_spec['cluster_age'] = user_spec['cluster_age'].astype(int)
user_spec['age'] = user_spec['age'].fillna(20 + 10*user_spec['cluster_age'])
user_spec = user_spec.drop('cluster_age', axis=1)
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

columns_to_exclude = ['age', 'application_id', 'user_id', 'insert_time', 'income_type', 'employment_type', 'houseown_type', 'purpose', 'rehabilitation']
desired_columns = [col for col in user_spec.columns if col not in columns_to_exclude]

imputer = IterativeImputer(estimator=ExtraTreesRegressor(), max_iter=10, tol=0.1, skip_complete=True)
imputer.fit(user_spec[desired_columns])
result = imputer.transform(user_spec[desired_columns])
import pandas as pd
result = pd.DataFrame(result, columns=['credit_score', 'yearly_income', 'desired_amount', 'existing_loan_cnt', 'existing_loan_amt', 'employment_period'])
user_spec['existing_loan_amt'] = result['existing_loan_amt']
user_spec['employment_period'] = result['employment_period']
import pandas as pd
from sklearn.cluster import KMeans

user_spec['purpose'].replace({'LIVING': '생활비', 'ETC': '기타', 'HOUSEDEPOSIT': '전월세보증금', 'BUYHOUSE': '주택구입', 'BUYCAR': '자동차구입', 'INVEST': '투자', 'BUSINESS': '사업자금', 'SWITCHLOAN': '대환대출'}, inplace=True)

user_loan = pd.merge(user_spec, loan_result, on='application_id')
user_loan = user_loan.dropna(subset=['loan_limit'])

features = user_loan[['loan_limit', 'loan_rate']]

kmeans = KMeans(n_clusters=5, n_init=10, init='random')
kmeans.fit(features)

user_loan['bank_cluster'] = kmeans.predict(features)
user_loan = user_loan.drop(['bank_id', 'product_id'], axis=1)
import pandas as pd
user_loan['loan_rate_min'] = user_loan.groupby('application_id')['loan_rate'].transform('min')
user_loan['loan_rate_per'] = user_loan['loan_rate_min'] / (user_loan['loan_rate'] + 0.0000001)
user_loan['loan_limit_max'] = user_loan.groupby('application_id')['loan_limit'].transform('max')
user_loan['loan_limit_per'] = user_loan['loan_limit'] / (user_loan['loan_limit_max'] + 0.0000001)
user_loan.drop(['loan_rate_min', 'loan_limit_max'], axis=1, inplace=True)
import pandas as pd
from sklearn.model_selection import train_test_split

# Change loanapply_insert_time variable to datetime variable
user_loan['loanapply_insert_time'] = pd.to_datetime(user_loan['loanapply_insert_time'])

# Create month variable from loanapply_insert_time
user_loan['month'] = user_loan['loanapply_insert_time'].dt.month

# Filter test data for month = 6
test_data = user_loan[user_loan['month'] == 6]

# Filter remaining data for months 3, 4, and 5
remaining_data = user_loan[(user_loan['month'] == 3) | (user_loan['month'] == 4) | (user_loan['month'] == 5)]

# Split remaining data into train and validation data in 80:20 ratio
train_data, valid_data = train_test_split(remaining_data, test_size=0.2, random_state=42)

# Print train_data, valid_data, and test_data
print(train_data)
print(valid_data)
print(test_data)

In [ ]:
question = f"""

Please summarize the given code in the form of an data processing report, excluding the library import process.
Add subheadings to each code.

code: {final_answer}
report:
"""
final_response = get_completion(question)
print(final_response)

Data Processing Report:

1. Deleting Rows with Null Values in 'loan_limit' Column:
   - Rows in the 'loan_result' dataframe where the 'loan_limit' column has null values are dropped.

2. Converting 'loanapply_insert_time' Column to Datetime Format:
   - The 'loanapply_insert_time' column in the 'loan_result' dataframe is converted to datetime format.

3. Deleting Rows with 'bank_id' Value of 16:
   - Rows in the 'loan_result' dataframe where the 'bank_id' column has a value of 16 are dropped.

4. Data Cleaning and Transformation on 'user_spec' DataFrame:
   - 'gender' column is dropped from the 'user_spec' dataframe.
   - 'insert_time' column is converted to datetime format.
   - 'company_enter_month' column is converted to string format and modified to have a specific format.
   - Missing values in 'company_enter_month' column are replaced with NaN values.
   - Missing values in 'company_enter_month' column are filled with the first non-null value for each user.
   - Missing values in 'birth_year' column are filled with the first non-null value for each user.

5. Handling Missing Values and Data Transformation on 'user_spec' DataFrame:
   - Missing values in 'existing_loan_amt' and 'existing_loan_cnt' columns are replaced with 0.
   - Rows with missing values in 'income_type' column are dropped.
   - Missing values in 'yearly_income' column are filled with the mean value for each user.
   - 'rehabilitation' column is created based on conditions using other columns.
   - 'personal_rehabilitation_yn' and 'personal_rehabilitation_complete_yn' columns are dropped.
   - 'credit_score' column is filled with the mean value for each user.
   - 'unique_credit_scores' column is created to count the number of unique credit scores for each user.
   - Missing values in 'credit_score' column are filled based on conditions using 'unique_credit_scores' column.
   - 'unique_credit_scores' column is dropped.
   - Data types of certain columns are changed to categorical.

6. Splitting Data and Training XGBoost Model:
   - Data is split into train and test sets based on the availability of 'credit_score' values.
   - XGBoost regressor model is trained using the train set.
   - Predictions are made for the test set using the trained model.
   - Predicted 'credit_score' values are added to the test set.
   - Train and test sets are concatenated to form the updated 'user_spec' dataframe.

7. Creating Age Clusters:
   - 'cluster_age' column is created based on age ranges.
   - Missing values in 'cluster_age' column are filled with a default value.
   - Data types of certain columns are changed to categorical.

8. Training XGBoost Classifier for Age Prediction:
   - Data is split into train and test sets based on the availability of 'age' values.
   - XGBoost classifier model is trained using the train set.
   - Predictions are made for the test set using the trained model.
   - Predicted 'cluster_age' values are added to the original 'user_spec' dataframe.

9. Filling Missing Age Values:
   - Missing values in 'age' column are filled based on the predicted 'cluster_age' values.
   - 'cluster_age' column is dropped.

10. Imputing Missing Values using IterativeImputer:
    - Certain columns are excluded from the imputation process.
    - IterativeImputer is used with ExtraTreesRegressor as the estimator to impute missing values.
    - Imputed values are stored in the 'result' dataframe.

11. Updating 'user_spec' DataFrame with Imputed Values:
    - 'existing_loan_amt' and 'employment_period' columns are updated with the imputed values.

12. Clustering Banks based on Loan Features:
    - 'purpose' column values are replaced with more descriptive labels.
    - 'user_spec' and 'loan_result' dataframes are merged on 'application_id'.
    - Rows with null values in 'loan_limit' column are dropped.
    - Features for clustering are selected from the merged dataframe.
    - KMeans clustering is performed on the selected features.
    - 'bank_cluster' column is added to the merged dataframe.
    - 'bank_id' and 'product_id' columns are dropped.

13. Calculating Loan Rate and Loan Limit Percentages:
    - 'loan_rate_min' column is calculated as the minimum loan rate for each 'application_id'.
    - 'loan_rate_per' column is calculated as the ratio of 'loan_rate_min' to 'loan_rate'.
    - 'loan_limit_max' column is calculated as the maximum loan limit for each 'application_id'.
    - 'loan_limit_per' column is calculated as the ratio of 'loan_limit' to 'loan_limit_max'.
    - 'loan_rate_min' and 'loan_limit_max' columns are dropped.

14. Splitting Data based on Loan Application Month:
    - 'loanapply_insert_time' column is converted to datetime format.
    - 'month' column is created from 'loanapply_insert_time'.
    - Test data for the month of June is separated.
    - Remaining data for the months of March, April, and May is separated.
    - Remaining data is split into train and validation sets.

15. Final Report:
    - The train, validation, and test data are printed.

In [ ]:
question2 = f"""

Translate given code summary analysis report into Korean.

code summary analysis report: {final_response}

"""
response_translate = get_completion(question2)
print(response_translate)

데이터 처리 보고서:

1. 'loan_limit' 열에서 Null 값이 있는 행 삭제:
   - 'loan_result' 데이터프레임에서 'loan_limit' 열에 Null 값이 있는 행이 삭제됩니다.

2. 'loanapply_insert_time' 열을 날짜 및 시간 형식으로 변환:
   - 'loan_result' 데이터프레임의 'loanapply_insert_time' 열이 날짜 및 시간 형식으로 변환됩니다.

3. 'bank_id' 값이 16인 행 삭제:
   - 'loan_result' 데이터프레임에서 'bank_id' 열의 값이 16인 행이 삭제됩니다.

4. 'user_spec' 데이터프레임의 데이터 정리 및 변환:
   - 'gender' 열이 'user_spec' 데이터프레임에서 삭제됩니다.
   - 'insert_time' 열이 날짜 및 시간 형식으로 변환됩니다.
   - 'company_enter_month' 열이 문자열 형식으로 변환되고 특정 형식으로 수정됩니다.
   - 'company_enter_month' 열의 결측값은 NaN 값으로 대체됩니다.
   - 'company_enter_month' 열의 결측값은 각 사용자에 대해 첫 번째 비결측값으로 채워집니다.
   - 'birth_year' 열의 결측값은 각 사용자에 대해 첫 번째 비결측값으로 채워집니다.

5. 'user_spec' 데이터프레임의 결측값 처리 및 데이터 변환:
   - 'existing_loan_amt' 및 'existing_loan_cnt' 열의 결측값은 0으로 대체됩니다.
   - 'income_type' 열의 결측값이 있는 행이 삭제됩니다.
   - 'yearly_income' 열의 결측값은 각 사용자에 대한 평균값으로 채워집니다.
   - 다른 열을 사용하여 조건에 따라 'rehabilitation' 열이 생성됩니다.
   - 'personal_rehabilitation_yn' 및 'personal_rehabilitation_complete_yn' 열이 삭제됩니다.
   - 'credit_score' 열은 각 사용자에 대한 평균값으로 채워집니다.
   - 'unique_credit_scores' 열은 각 사용자의 고유한 신용 점수 수를 계산하기 위해 생성됩니다.
   - 'credit_score' 열의 결측값은 'unique_credit_scores' 열을 사용하여 조건에 따라 채워집니다.
   - 'unique_credit_scores' 열이 삭제됩니다.
   - 특정 열의 데이터 유형이 범주형으로 변경됩니다.

6. 데이터 분할 및 XGBoost 모델 학습:
   - 'credit_score' 값의 유무에 따라 데이터가 학습 및 테스트 세트로 분할됩니다.
   - XGBoost 회귀 모델이 학습 세트를 사용하여 학습됩니다.
   - 학습된 모델을 사용하여 테스트 세트에 대한 예측이 수행됩니다.
   - 예측된 'credit_score' 값이 테스트 세트에 추가됩니다.
   - 학습 및 테스트 세트가 결합되어 업데이트된 'user_spec' 데이터프레임이 형성됩니다.

7. 나이 클러스터 생성:
   - 나이 범위에 기반하여 'cluster_age' 열이 생성됩니다.
   - 'cluster_age' 열의 결측값은 기본값으로 채워집니다.
   - 특정 열의 데이터 유형이 범주형으로 변경됩니다.

8. 나이 예측을 위한 XGBoost 분류기 학습:
   - 'age' 값의 유무에 따라 데이터가 학습 및 테스트 세트로 분할됩니다.
   - XGBoost 분류기 모델이 학습 세트를 사용하여 학습됩니다.
   - 학습된 모델을 사용하여 테스트 세트에 대한 예측이 수행됩니다.
   - 예측된 'cluster_age' 값이 원래 'user_spec' 데이터프레임에 추가됩니다.

9. 결측값이 있는 나이 값 채우기:
   - 'age' 열의 결측값은 예측된 'cluster_age' 값에 기반하여 채워집니다.
   - 'cluster_age' 열이 삭제됩니다.

10. IterativeImputer를 사용하여 결측값 보완:
    - 일부 열은 보완 과정에서 제외됩니다.
    - ExtraTreesRegressor를 추정기로 사용하여 IterativeImputer가 결측값을 보완하는 데 사용됩니다.
    - 보완된 값은 'result' 데이터프레임에 저장됩니다.

11. 보완된 값으로 'user_spec' 데이터프레임 업데이트:
    - 'existing_loan_amt' 및 'employment_period' 열이 보완된 값으로 업데이트됩니다.

12. 대출 특징에 따른 은행 클러스터링:
    - 'purpose' 열의 값은 더 구체적인 레이블로 대체됩니다.
    - 'user_spec' 및 'loan_result' 데이터프레임이 'application_id'를 기준으로 병합됩니다.
    - 'loan_limit' 열에 결측값이 있는 행이 삭제됩니다.
    - 클러스터링에 사용할 특징이 병합된 데이터프레임에서 선택됩니다.
    - 선택된 특징에 대해 KMeans 클러스터링이 수행됩니다.
    - 'bank_cluster' 열이 병합된 데이터프레임에 추가됩니다.
    - 'bank_id' 및 'product_id' 열이 삭제됩니다.

13. 대출 이율 및 대출 한도 비율 계산:
    - 'loan_rate_min' 열은 각 'application_id'에 대한 최소 대출 이율로 계산됩니다.
    - 'loan_rate_per' 열은 'loan_rate_min'을 'loan_rate'로 나눈 비율로 계산됩니다.
    - 'loan_limit_max' 열은 각 'application_id'에 대한 최대 대출 한도로 계산됩니다.
    - 'loan_limit_per' 열은 'loan_limit'을 'loan_limit_max'로 나눈 비율로 계산됩니다.
    - 'loan_rate_min' 및 'loan_limit_max' 열이 삭제됩니다.

14. 대출 신청 월에 따른 데이터 분할:
    - 'loanapply_insert_time' 열이 날짜 및 시간 형식으로 변환됩니다.
    - 'month' 열이 'loanapply_insert_time'에서 생성됩니다.
    - 6월의 테스트 데이터가 분리됩니다.
    - 3월, 4월 및 5월의 나머지 데이터가 분리됩니다.
    - 나머지 데이터가 학습 및 검증 세트로 분할됩니다.

15. 최종 보고서:
    - 학습, 검증 및 테스트 데이터가 출력됩니다.